<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>🍎 Product Details</h1>

<div class="product-card">

    <h2 th:text="${product.name}">Название</h2>

    <p>
        <b>Цена:</b>
        <span th:text="${product.price}">0</span>
    </p>

    <p>
        <b>Количество:</b>
        <span th:text="${product.quantity}">0</span>
    </p>

    <p>
        <b>Описание:</b>
        <span th:text="${product.description}">Описание</span>
    </p>

    <p>
        <b>Категория:</b>
        <span th:text="${product.category}">CATEGORY</span>
    </p>

    <a href="/products" class="back-btn">⬅ Назад</a>

</div>

</body>
</html>